
/************MOBILE CSS ***********/
/******************************/
/*****************************/

.wrapper {
  background-color: #FFFFFF; 
  margin: 5px 5px;
  display: block;
  text-align: center;
  width: auto;
  max-width: 500px;
  min-width: 400px;
}

header {
  text-align: start;
}

.trafficImg {
  width: 400px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lblLocation {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.selLocation {
  display: inline-block;
  vertical-align: middle;
  width: 220px;
}

.tabLayout {
  width: auto;
  height: 230px;
  margin: auto;
}

.tabList {
  margin: auto;
  width: auto;
  
}

.tabContent {
  margin: auto;
  width: 400px;
}

.one-day-morn {
  display: inline-block;
  width: 33%;
}

.one-day-noon {
  display: inline-block;
  width: 33%;
}

.one-day-night {
  display: inline-block;
  width: 33%;
}

.oneDayFont {
  font-size: 12px;
}

.timestamp {
  width: 400px;
  margin: auto;
  text-align: start;
  font-size: 10px;
  padding-bottom: 20px;
}

.datePicker {
  width: 130px;
  margin: 5px 0 5px 30px;
  padding-left: 5px;

}

.timePicker {
  width: 140px;
  margin: 5px 0 5px 30px;
}





/************WEB CSS ***********/
/******************************/
/*****************************/
.Wwrapper {
  background-color: #FFFFFF; 
  min-width: 1000px;
  margin: auto;
  width: 75%;
  padding: 10px;
}

.Wheader {
width: auto;
text-align: center;
}

.WtrafficImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  height: 490px;

}

.Wtimestamp {
  margin: auto;
  text-align: end;
  font-size: 10px;
  padding-right: 10px;
}

.WfloatLeft {
  float: left;
  width: 350px;
  height: 505px;
  border: solid 1px black;
}

.WleftTop {
  border-bottom: solid 1px black;
  padding: 5px;
}

.WleftBtm {
  padding: 5px;
}

.Wcontent {
  margin-left: 355px;
  width: 650px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
}

.WtabLayout {
  display: inline-block;
  text-align: center;
  width: 340px;
} 

.WdatePicker {
  margin-left: 25px;
  padding-left: 5px;
}

.WtimePicker {
  margin: 5px 0 5px 25px;
}


